#companies-list {
    list-style-type: none;
    width: 20em;
    font-size: 14px;
    li {
        cursor: pointer;
        background-color: #c9cccf;
        color: hsl(0, 0%, 13%);
        display: block;
        padding: 12px;
        border: 1px solid white;
    }
    li:hover {
        background-color: #b8bec4;
    }
    li.active {
        background-color: #a0a6ab;
    }
}
